@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Biennale-Regular';
        src: url('/public/fonts/Biennale-Regular.otf') format('otf');
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }
    @font-face {
        font-family: 'Biennale-Bold';
        src: url('/public/fonts/Biennale-Bold.otf') format('otf');
        font-style: normal;
        font-weight: 700;
        font-display: swap;
    }

    body {
        font-family: 'Biennale-Regular', sans-serif;
        text-rendering: optimizeSpeed;
        font-size: 14px;
        /*Để cho thanh cuộn k chiếm vị trí*/
        overflow-y: overlay;
    }

/*    Custom radio input*/
    .radio-item input[type='radio'] {
        display: none;
    }

    .radio-item label {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        position: relative;
    }

    .radio-item label:before {
        content: " ";
        @apply bg-primary-light;
        display: inline-block;
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .radio-item input[type=radio]:checked + label:after {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translateY(-50%);
        content: " ";
        display: block;
        background: white;
    }

    .radio-item input[type=radio]:checked + label:before {
        content: " ";
        @apply bg-primary;
        display: inline-block;
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    /*Custom select arrow*/
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 8px;
        padding: 1rem;
        padding-right: 2rem;
    }
}

@layer utilities{
    .time-range-horizontal{
        @apply w-full bg-primary my-1 h-[1px] relative
        before:content-[""] before:absolute before:left-[-5px] before:top-[-3px] before:w-[5.5px] before:h-[7px] before:rounded-full before:border before:border-primary
        after:content-[""] after:absolute after:right-[-5px] after:top-[-3px] after:w-[5.5px] after:h-[7px] after:rounded-full after:bg-primary
    }
    .time-range-vertical{
        @apply w-[1px] bg-primary my-1 h-full relative
        before:content-[""] before:absolute before:left-[-2px] before:top-[-6px] before:w-[5.5px] before:h-[7px] before:rounded-full before:border before:border-primary
        after:content-[""] after:absolute after:right-[-2px] after:top-[100%] after:w-[5.5px] after:h-[7px] after:rounded-full after:bg-primary
    }
}
